.root {
    margin: 0;
    background-color: var(--black);
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    filter: invert();
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}