<nav>
    <div class="hamburger">
        <fa-icon [icon]="faBars"
                 size="lg"></fa-icon>
        <div class="dropdown">
            <a href="./index.html">Home</a>
            <a href="./movies.html">Movies</a>
            <a href="../animation/animation.html">Animation</a>
        </div>
    </div>

    <a href="./index.html">Home</a>
    <a href="./movies.html">Movies</a>
    <a href="../animation/animation.html">Animation</a>
    <a href="./forms.html">Forms</a>
    <a href="./svg.html">SVGs</a>
    <div class="rel-parent">
        <fa-icon [icon]="faBell"
                 size="lg">
        </fa-icon>
        <div class="notifications">9</div>
    </div>
</nav>