@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

:root {
  --purple: #9f68eb;

  --light-gray: #f5f5f5;
  --dark: #161c29;

  --green: #00cc86;
  --light-green: #bafacd;

  --red: #dc3900;
  --light-red: #ffe5e3;


  --primary: var(--purple);
  --link: var(--purple);
}

.App {
  text-align: center;
}

