<div class="root">
        <div class="question">
                <question [question]="questions[activeQuestion-1]"
                          [reveal]="submitted"></question>
        </div>

        <div class="buttons">
                <button (click)="changeQuestion(-1)"
                        [disabled]="activeQuestion <= 1">&lt;</button>
                <button (click)="changeQuestion(1)"
                        [disabled]="!questions[activeQuestion-1].userAnswer"
                        *ngIf="activeQuestion < quizLength; else finish">&gt;</button>
                <ng-template #finish>
                        <button type="button"
                                [disabled]="!questions[activeQuestion-1].userAnswer"
                                (click)="submitQuizClicked()">Submit Answers</button>
                </ng-template>
        </div>
</div>