/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
:root {
    --green: rgb(165, 255, 155);
    --darkGreen: rgb(113, 138, 109);
    --darkestGreen: rgb(47, 62, 44);
    --text: rgb(40, 40, 40);
    --sand: rgb(212, 204, 178);
}

body {
    background-color: var(--sand);
    background-image: url(../src/assets/images/animals.jpg);
}

body,
html {
    padding: 0;
    margin: 0;
}

*:not(input) {
    font-family: 'Rock Salt', cursive;
}

button {
    color: var(--darkestGreen);
    background-color: var(--green);
    border: none;
    border-radius: 1em;
    padding: 0 1.5em;
    cursor: pointer;
    margin: 0.5em;
    box-shadow: 0 0 1em var(--darkestGreen);
}