<div class="root">
    <div class="container">
        <div class="header">{{header}}</div>

        <div class="main-content">

            <div class="calendar-container">
                <div class="navigation">
                    <button (click)="adjustMonthWithArrows(-1)"
                            class="neon-box dull"
                            [ngClass]="{'booked': selectedDate.getFullYear() <= today.getFullYear() && selectedDate.getMonth() <= today.getMonth()}"
                            [disabled]="selectedDate.getFullYear() <= today.getFullYear() && selectedDate.getMonth() <= today.getMonth()">&lt;</button>
                    <div>{{selectedDate | date: 'MMMM'}}</div>
                    <button (click)="adjustMonthWithArrows(1)"
                            class="neon-box dull">&gt;</button>
                </div>
                <table class="calendar">
                    <tr>
                        <th>
                            <div>Su</div>
                        </th>
                        <th>
                            <div>M</div>
                        </th>
                        <th>
                            <div>Tu</div>
                        </th>
                        <th>
                            <div>W</div>
                        </th>
                        <th>
                            <div>Th</div>
                        </th>
                        <th>
                            <div>F</div>
                        </th>
                        <th>
                            <div>Sa</div>
                        </th>
                    </tr>
                    <tr *ngFor="let week of month; index as i"
                        class="week">
                        <td *ngFor="let day of week"
                            (click)="onNewDateSelected(day, i)">
                            <div class="day"
                                 [ngClass]="{'active': day.getDate() == selectedDate.getDate() && day.getMonth() == selectedDate.getMonth(), 
                                            'other-month': day.getMonth() != selectedDate.getMonth(),
                                            'past': day.getTime() < today.getTime()}">
                                {{day.getDate()}}
                            </div>
                        </td>
                    </tr>

                </table>
            </div>

            <div class="right">
                <div class="time-select">
                    <button type="button"
                            class="time-slot"
                            *ngFor="let timeSlot of timeSlots; index as i"
                            [ngClass]="{'booked': !timeSlot.available, 'selected': selectedTime && timeSlot.time.getTime() == selectedTime.getTime()}"
                            (click)="onTimeSlotClicked(timeSlot)">
                        {{timeSlot.time | date: 'h:mm a'}}
                    </button>
                </div>
                <div class="footer">
                    {{selectedTime | date: 'E d MMM - hh:mm a'}}
                    <button type="button"
                            class="neon-box dull"
                            [ngClass]="{'booked': !selectedTime}"
                            [disabled]="!selectedTime"
                            (click)="onConfirmClicked()">Confirm appointment</button>
                </div>
            </div>

        </div>
    </div>
</div>