<div class="root">




    <!-- <a routerLink="/login"><button>click me</button></a> -->

    <!-- <button type="button" (click)="goToLogin()"></button> -->
    <!-- <login></login> -->

    <div class="header">
        <h1> * Animals * </h1>
        <a *ngIf="!user" routerLink="/login" title="Sign In"><button type="button">Sign In</button></a>
        <p *ngIf="user">{{user.username}}</p>
    </div>

    <div class="body">
        <animal-list></animal-list>
        <animal-card class="grow"></animal-card>
    </div>

    <animal-form class="footer"></animal-form>

</div>