body {
    background-color: #222;
}

.array-sorter {
    color: #f1f1f1;
}

.array-sorter .array-actual {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.array-sorter .cell {
    width: 3rem;
    cursor: pointer;
    height: 3rem;
    display: grid;
    place-items: center;
    border: solid white 2px;
}

.array-sorter .cell.i1 {
    border-color: hsl(0, 100%, 65%);
}
.array-sorter .cell.i2 {
    border-color: hsl(219, 100%, 65%);
}